h1 {
  font-family: 'Nanum Gothic', sans-serif;
  color: green;
}

h4 {
  margin-bottom: 0;
  font-size: 20px;
}

ol {
  margin-top: 0;
}

ul {
  margin-top: 0;
  list-style-type: square; 
}

.copyright {
  font-family: Arial;
  font-size: 9px;
  font-style: italic;
}

li span {
  background-color: yellow;
  color: black;
}